a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
body {
	background-color: white;
	max-width: 100%;
    overflow-x: hidden;
}
.block {
	
	padding: 20px;
}

.mainContainer {
	width: 50%;
	min-width: 750px;

    border: 1px solid #d3e0e9;
    background-color: #ffffff;
    border-radius: 10px;
}
.image {
	width: 150px;
	margin: 22px;
	float: left;
}
.image img {
	padding: 2px;
    border: 1px solid #255379;
    background-color: #F7F7F7;
    border-radius: 10px;
}
.content {
	padding-left: 151px;
}
.main {
	width: 70%;
	float: left;
	padding: 20px;
}
.sidebar {
	width: 20%;
	float: right;
	background-color: #ffffff;
	font-size: 22px;
  	font-weight: 200;
  	border: 1px solid transparent;
  	border-color: #d3e0e9;
  	border-radius: 10px;
}
.sidebar li {
	list-style: none;
	padding: 5px;

}

.modal-content {
	min-width: 900px;
	background-color: black;
}
.modal-content iframe{
	margin-top: 50px;
	margin-bottom: 45px;
	margin-left: 19%;
}
.showContainer{
	padding-bottom: 20px;
}
.genrecontainer {
	min-width: 970px;
}
.adminbutton {
	margin: -36px 10px 10px 10px;
}